html {
  font-size:62.5%;
}
body {
  font-size:1.6rem;
}
.container {
  width: 620px;
  margin: auto;
}
section {
  margin: 30px 0;
}
header,footer {
  background-color: cadetblue;
}

.favorite ul {
  list-style: none;
  display: flex;
}
.favorite ul li {
  width: 30%;
  text-align: center;
  margin: 4px;
}
.favorite ul li img {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #444;
}

.wrapper {
  display: flex;
}
.wrapper .property {
  width: 100px;
}
.wrapper input {
  border: 1px solid #444;
}

form .button {
  background: #b98d8d;
}
form .button:hover {
  background: #8db98f;
}